* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: #222;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

nav {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px -2px 7px 5px rgb(50 50 50 / 75%);
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav h1 {
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
  color: white;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  border: 1px rgba(255, 255, 255, 0.37);
  border-style: solid;
}

nav img {
  width: 5rem;
  cursor: pointer;
  opacity: 0.7;
}

#glitch-canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100px;
  z-index: -1;
  opacity: 0.5;
}

main {
  background:rgb(255, 138, 144);
  flex-grow: 1;
}

#smash-prefs-interface {
  padding: 0 1rem;
}

.smash-character-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #530b4d;
  height: 50px;
  width: 300px;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}
.smash-character-display > div {
  display: flex;
  align-items: center;
}
.smash-character-display img {
  width: 30px;
  height: 30px;
  position: relative;
  top: 1px;
  margin-right: .5rem;
}
.smash-character-display h1 {
  margin: 0;
  font-family: monospace;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.list-selections > * {
  margin-right: 0.1rem;
  width: 30px;
  height: 30px;
  padding: 5px;
  cursor: pointer;
}

.list-selections > *:hover {
  background: rgba(255, 255, 255, 0.2);
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#random-explain h2 {
  font-weight: 400;
}
#random-explain h2 span {
  font-weight: 700;
}